# THE CODE IS IN MY GITHUB!!!
Go and checkout my github if you want the **to_candle** file!
## https://github.com/kecoma1/Trading_BOT

In [4]:
import pandas as pd
import to_candle

### Metatrader dataframe
The dataframe that metatrader metatrader provides with the csv file may not be the one we want. This is because MT5 gives us all the ticks of the price (which is wonderful).

In [11]:
tick_df = pd.read_csv("EURUSD.csv", sep="\t")
tick_df.head(10)

       <DATE>        <TIME>    <BID>    <ASK>  <LAST>  <VOLUME>  <FLAGS>
0  2021.09.30  00:00:00.204  1.15982  1.15985     NaN       NaN        6
1  2021.09.30  00:00:00.409  1.15939  1.16015     NaN       NaN        6
2  2021.09.30  00:00:00.672  1.15984  1.15987     NaN       NaN        6
3  2021.09.30  00:00:26.007  1.15978  1.15981     NaN       NaN        6
4  2021.09.30  00:00:27.707  1.15984  1.15987     NaN       NaN        6
5  2021.09.30  00:00:56.775  1.15983  1.15986     NaN       NaN        6
6  2021.09.30  00:00:57.110  1.15982  1.15985     NaN       NaN        6
7  2021.09.30  00:01:00.532  1.15982      NaN     NaN       NaN        2
8  2021.09.30  00:01:01.369  1.15973      NaN     NaN       NaN        2
9  2021.09.30  00:01:09.039  1.15978  1.15981     NaN       NaN        6

In [12]:
tick_df.shape

(110493, 7)

## Candle dataframe
This dataframe is obtained through the from_tick_to_candle function. The dataframe contains the following columns:
* **TIME-UTC**: UTC-TIME since epoch in seconds.
* **OPEN**: Open price of that candle.
* **CLOSE**: Close price of the candle.
* **HIGH**: Highest price of the candle.
* **LOW**: Lowest price of the candle.

In [6]:
candle_df = to_candle.from_tick_to_candle("EURUSD.csv", 15*60)
candle_df.head(10)

       TIME-UTC     OPEN    CLOSE     HIGH      LOW
0  1.632953e+09  1.15982  1.15968  1.16015  1.15939
1  1.632954e+09  1.15968  1.15983  1.15990  1.15964
2  1.632955e+09  1.15983  1.15966  1.15983  1.15964
3  1.632956e+09  1.15966  1.15980  1.15997  1.15966
4  1.632956e+09  1.15980  1.15975  1.15990  1.15966
5  1.632957e+09  1.15975  1.15985  1.15992  1.15970
6  1.632958e+09  1.15985  1.15981  1.15987  1.15979
7  1.632959e+09  1.15981  1.15984  1.15986  1.15976
8  1.632960e+09  1.15984  1.15986  1.15991  1.15979
9  1.632961e+09  1.15986  1.15999  1.16004  1.15984

In [13]:
candle_df.shape

(183, 5)